# Ignorar el entorno virtual
venv/
__pycache__/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de VS Code
.vscode/

# Archivos de logs
*.log

# Archivos creados por Jupyter Notebooks (si los usas)
.ipynb_checkpoints/

# Archivos de Python compilados
*.pyc
*.pyo
